<h1>Order a Custom Burger!</h1>
<img src="https://78.media.tumblr.com/b539237502af995c60a1e07c61b4ed4f/tumblr_p5wa1fJiuL1qdt6e2o1_1280.jpg">
<center>
  <form class="order-form">
      <input type="text" id="input" name="burger_name">
      <button class="btn sm" type="submit">Submit</button>
  </form>
</center>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2 id="devour"> Eat-Da-Burger!</h2>
      <h2 id="devoured"> Consumed Burgers</h2>
    </div>
  </div>
</div>

<ul class="before">
  {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block}} {{/unless}} {{/each}}
</ul>

<ul class="eaten">
  {{#each burgers}} {{#if devoured}} {{> burgers/burger-block}} {{/if}} {{/each}}
</ul>